{% load staticfiles %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src=" {% static "/js/typeahead.bundle.js" %}"></script>
    <script type="text/javascript">

        var searchResults = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/search/?q=note',
            remote: {
                url: '/search/?q=%QUERY',
                wildcard: '%QUERY'
            }
        });
        $(document).ready(function () {
            $('#remote .typeahead').typeahead(null, {
                display: 'title',
                source: searchResults
            });
        });

    </script>
</head>
<body>
<div id="remote">
    <input class="typeahead" type="text" placeholder="Which phone do you want to search today?">
</div>
</body>
</html>